@charset "utf-8";

.a {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box-item {
    background-color: #3CB371;
    width: 25%;
    text-align: center;
    margin: 10px;
}

.img{
    width: 250px;
    height: 200px;
    margin: 0 auto;
}

.img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

h1 {
    text-align: center;
}

h2{
    width: 90%;
    margin: 5px auto;
}

p{
    width: 90%;
    font-size: 15px;
    text-align: center;
    padding: 20px;
    margin: 0 auto;
}

a{
    width: 60%;
    border-radius: 40px;
    margin: 0 auto;
    padding: 10px;
    display: block;
    text-decoration: none;
    background-color: yellow;
    color: orchid;
}