@charset "utf-8";

p {
    margin: 0 auto;
    font-size: 160%;
    width: 60%;
}

.registra-form {
    width: 56%;
    margin: 0 auto;
}

th,
td {
    text-align: left;
    padding: 15px;
}

th {
    background-color: rgb(25, 147, 171);
    color: black;
    width: auto;
}

td {
    background-color: rgb(172, 159, 13);
}

button {
    margin-top: 15px;
    width: 20%;
}

span {
    font-size: 10px;
}

.required {
    border-radius: 4px;
    background-color: red;
}